@import "~normalize-scss/sass/normalize";

@include normalize();

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  background-color: #f7f7f7;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
